VK_TOKEN=vk1.a.E34YkWUn5XY0Nlp1J31umZ5MLOdVoqB6jKDadStuI8QVTrVLcWAHY9OfnSrziIf_cLZHX9Ji5UorqOm7Old9TmOeWWUKffliDRDx4BA4jS937VemfpRNYLOhEKNsicaYfOn9ZXOkePzsOm5wSv_OiKfGgGVJAJomG9km8vArJTnyh3sInNQuNhmHMwgkUDYw6ExGKDL39VOG3XVe4jMY-g
VK_GROUP_ID=188470898
MAX_BOT_TOKEN=f9LHodD0cOIX9nLiEHJPoIcrU_9fD3FYwa53q3O56jBwAS5dAhQR3sqzCd6YexFkWGDLFyss8dQejujWMAkU
MAX_CHAT_ID=id4443026446_gos
